.menu {
    display: block;
    overflow: hidden;
    width: 200px;
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-menu {
    display: none;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }
.menu li:nth-child(1) a::before{ content: '\e88a'; } /* 홈  */
.menu li:nth-child(2) a::before{ content: '\f02e'; } /* 마이페이지  */
.menu li:nth-child(3) a::before{ content: '\e87d'; } /* 하트  */
.menu li:nth-child(4) a::before{ content: '\e8b8'; } /* 설정  */
/* .menu li:nth-child(5) a::before{ content: '\e8d6'; } 위아래  */
/* .menu li:nth-child(6) a::before{ content: '\e8cc'; }  상점*/

@media screen and (max-width:1023px) {
    .menu {
        width: 60px;
    }
}
@media screen and (max-width:560px) {
    .menu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}