/* 占쏙옙체 占쏙옙占쏙옙占쏙옙 占쏙옙타占쏙옙 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}



.additional-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.additional-content .fs {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* edit */

.btn-basic {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn-edit {
    background-color: #c0c0c0;
}

.btn-edit:hover {
    background-color: #808080;
}


.cont_area {
  display: none;
  width:100%;
}

.cont_active {
  display: block;
}


/* 占쏙옙 占쌨댐옙 占쏙옙占쏙옙 */
.tab_menu {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0px;
    left: -12px;
}
  .tab_list {
    list-style-type: none;
    overflow: hidden; /* 占싸몌옙占쏙옙占쏙옙 占쏙옙占쏙옙占쏙옙 占싼어가占쏙옙 占쌘식울옙占쏙옙占� 占싸븝옙占쏙옙 占쏙옙占쏙옙占쏙옙 占십듸옙占쏙옙 처占쏙옙 */
  }
  .tab_list li {
    float: left; /* 占쏙옙占쏙옙 占쏙옙占쏙옙 */
    margin-right: 12px; /* 占실놂옙占쏙옙 占쏙옙占쏙옙 */
    border: solid #f8f8f8;
  }
  /* 占쏙옙체 占쏙옙 */
  .tab_btn {
	  text-decoration: none;
	  padding: 50px;
	  font-size: 20px;
	  background-color: #f8f8f8;
	  color: #333;
	  font-family: 'NanumSquareNeoExtraBold';
  }
  /* 활占쏙옙화占쏙옙 占쏙옙 */
  .tab_btn:hover {
    padding: 50px;
    background-color: #a3a7ad;
    color: white;
  }
  .is_on .tab_btn {
	  padding: 50px;
	  background-color: #a3a7ad;
	  color: white;
}

/* 占시뤄옙占싱몌옙占쏙옙트 占쏙옙占쏙옙 占쏙옙타占쏙옙 */
#musicList {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.meta_info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #333;
}

.meta_info_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.meta_info_content {
    flex: 1;
}


.meta_info_text {
  flex: 1;
}

.meta_info_title {
  font-size: 17px;
  margin: 0;
  color: #333;
}

.meta_info_text h1 {
    font-size: 28px;
    margin: 0;
    color: #b0abab;
    text-align: left;
}


.meta_info_text p{
  font-size: 16px;
  color: #888;
}



.meta_info_desc {
  font-size: 12px;
  color: #888;
  display: block;
  text-align: left;
  padding: 3px;
}


.tag_list {
  margin-top: 10px;
}

.tag_list .text96 {
  margin-right: 5px;
  padding: 2px 6px;
  background-color: #eee;
  border-radius: 3px;
  color: #333;
  font-size: 12px;
}

/* 占쎈래 占쏙옙占쏙옙 占쏙옙타占쏙옙 */

.user-nickName {
    width: calc(97% - 7px);
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    z-index: 1;
}

.user-nickName::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: transparent transparent transparent #f8f8f8;
  z-index: -1; /* 占쏙옙占� 占쏙각占쏙옙占쏙옙 占쌘뤄옙 占쏙옙占쏙옙占싹댐옙 */
}


.horizen_station {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.horizen_station:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.fs {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.horizen_mmimg {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.horizen_img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* 占쏙옙占쏙옙 占쏙옙 占쏙옙타占쏙옙 */
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}



/* 占쌩곤옙 占쏙옙타占쏙옙 */
.tag_list .text96 {
  margin: 2px 4px;meta_info_title
  padding: 4px 8px;
  background-color: #f2f2f2;
  border-radius: 20px;
  color: #666;
  font-size: 12px;
}

.horizen_station .meta_info_title {
  font-weight: bold;
  color: #444;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

/* 占쎈래 占쏙옙占쏙옙占� 占쌓삼옙 3占쏙옙占쏙옙 표占쏙옙占싹댐옙 占쏙옙타占쏙옙 */
.music_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  margin:20px auto;
  width:100%;
}


.horizen_station {
  width: 27%;
  margin: 0 1.9%;
  margin-bottom: 20px;
}

.truncate-text {
  white-space: nowrap;       /* 以꾨컮轅� 湲덉� */
  overflow: hidden;          /* �궡�슜 �꽆移섎뒗 遺�遺� �닲源� */
  text-overflow: ellipsis;   /* �꽆移섎뒗 遺�遺� "..."�쑝濡� �몴�떆 */
}

.limit {
	width: 160px;
}