/* ��ü ������ ��Ÿ�� */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}


.cont_area {
  display: none;
  width:100%;
}

.cont_active {
  display: block;
}


/* �� �޴� ���� */
.tab_menu {
    position: relative; /* ��� �ڱ� �ڽ��� �������� ��ġ */
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .tab_list {
    list-style-type: none;
    overflow: hidden; /* �θ����� ������ �Ѿ�� �ڽĿ���� �κ��� ������ �ʵ��� ó�� */
  }
  .tab_list li {
    float: left; /* ���� ���� */
    margin-right: 12px; /* �ǳ��� ���� */
    border: solid #f8f8f8;
  }
  /* ��ü �� */
  .tab_btn {
	  text-decoration: none;
	  padding: 50px;
	  font-size: 20px;
	  background-color: #f8f8f8;
	  color: #333;
	  font-family: 'NanumSquareNeoExtraBold';
  }
  /* Ȱ��ȭ�� �� */
  .tab_btn:hover {
    padding: 50px;
    background-color: #a3a7ad;
    color: white;
  }
  .is_on .tab_btn {
	  padding: 50px;
	  background-color: #a3a7ad;
	  color: white;
}

/* �÷��̸���Ʈ ���� ��Ÿ�� */
#musicList {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #707070;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.meta_info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.meta_info_img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.meta_info_text {
  flex: 1;
}

.meta_info_text h1 {
  font-size: 28px;
  margin: 0;
  color: #b0abab;
}

.meta_info_text p{
  font-size: 16px;
  color: #888;
  padding: 4px;
}

.tag_list {
  margin-top: 10px;
}

.tag_list .text96 {
  margin-right: 5px;
  padding: 2px 6px;
  background-color: #eee;
  border-radius: 3px;
  color: #333;
  font-size: 12px;
}

/* �뷡 ���� ��Ÿ�� */

.user-nickName {
  width: calc(88% - 10px);
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
   z-index: 1; /* ��Ҹ� ������ �����ɴϴ� */
}

.user-nickName::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: transparent transparent transparent #f8f8f8;
  z-index: -1; /* ��� �ﰢ���� �ڷ� �����ϴ� */
}


.horizen_station {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.horizen_station:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.fs {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.horizen_mmimg {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.horizen_img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.meta_info_title {
  font-size: 17px;
  margin: 0;
  color: #333;
}

.meta_info_desc {
  font-size: 12px;
  color: #888;
  display: block;
  text-align: left;
  padding: 3px;
}

/* ���� �� ��Ÿ�� */
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}



/* �߰� ��Ÿ�� */
.tag_list .text96 {
  margin: 2px 4px;meta_info_title
  padding: 4px 8px;
  background-color: #f2f2f2;
  border-radius: 20px;
  color: #666;
  font-size: 12px;
}

.horizen_station .meta_info_title {
  font-weight: bold;
  color: #444;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

/* �뷡 ����� �׻� 3���� ǥ���ϴ� ��Ÿ�� */
.music_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  margin:20px auto;
  width:100%;
}


.horizen_station {
  width: 27%;
  margin: 0 1.9%;
  margin-bottom: 20px;
}

.truncate-text {
  white-space: nowrap;       /* 줄바꿈 금지 */
  overflow: hidden;          /* 내용 넘치는 부분 숨김 */
  text-overflow: ellipsis;   /* 넘치는 부분 "..."으로 표시 */
}

.limit {
	width: 160px;
}