/* -------passwd-------- */
body {
  background-color: #000000;
}

a {
  text-decoration: none;
  color: #000012;
}

h2 {
  text-align: left; /* Align the heading to the left */
  margin-left: 0; /* Remove the default margin */
}

#con {
  width: 100%;
  height: 100vh;
  background-color: #ebebdf;
  background-image: url('https://cdn.class101.net/images/42c9cf0f-97aa-4a07-8833-8ee146daa2a0/1920xauto.webp');
  padding: 0;
}

#login {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  /* position: relative; */
  /* background:#ddd; */
}

#login_form {
  /* text-align:center; */
  border-radius: 37px;
  padding: 20px 25px;
  background: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(35%, -50%);
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 50px -14px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

.hr-secter {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  margin: 50px -14px;
}
.hr-secter::before,
.hr-secter::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

.login {
  font-size: 25px;
  font-weight: 900;
  color: #333;
}

.input-title {
    text-align: left;
    font-size: 12px;
    color: black;
    font-weight: 600;
    margin-top: 10px; /* Add margin-top value to adjust the position */
}

.input-chek {
  text-align: left;
  font-size: 12px;
  color: #808080;
  font-weight: lighter;
}

.input-wrapper {
  display: flex;
  align-items: center;
    margin-bottom: 40px;
}

.line-input {
  width: 400px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.line-input2 {
  width: 400px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

/* .size {
  width: 300px;
  height: 30px;
  background-color: #eeeff5;
  margin-left:10px;
  border: none;
  border-radius: 5px;
} */

.btnRe {
  width: 100px;
  height: 30px;
  font-size: 13px;
  background-color: transparent;
  color: #00aaff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 100; /* �씠寃� 援듦린 議곗젅 */
  transition: 0.5s;
  float: right;
/*       margin: -5; */
  margin-top: -7px; /* �쐞濡� 10px留뚰겮 �씠�룞 */
  margin-left: 1px; /* �쇊履쎌쑝濡� 20px留뚰겮 �씠�룞 */
}

.btn01 {
  width: 250px;
  height: 40px;
  font-size: 13px;
  background-color: #9599af;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s;
}



.btn:hover {
  background: #948cb3;
}

hr {
  margin-top: 20px;
  background: #eee;
}

.find {
  text-align: right;
  color: #ddd;  
  font-size: 12px;
}

.find span {
  padding-left: 10px;
}

.find span::before {
  content: '|';
  color: #333;
  padding-right: 10px;
}

.find span:nth-child(1):before {
  content: none;
}

.find span:nth-child(1) {
  padding-left: 0px;
}

.find a:hover {
  color: #707070;
}

.num1 {
  width: 60px;
  text-align: left;
}

.num2 {
  width: 235px;
}

.wide {
  width: 420px;
}

label {
  width: 300px;
  height: 10px;
  margin: 0;
}


/* -------회占쏙옙占쏙옙占쏙옙-------- */
.h-zero {
  margin: 0;
  padding-top: 20px;
}

.h-zero span{
  font-weight: normal;
  color: #808080;
}

/* -------占쏙옙橘占싫� 찾占쏙옙-------- */
.error-message {
    display: block;
    font-size: 11px;
    text-align: left;
    color: red;
    margin: 5px;
}

.find_pw #login_form {
  width: 400px;
  height: 490px;
  border-radius: 37px;
  padding: 30px 50px;
  background: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(35%, -50%);
  margin: auto 0;
}

.find_pw .login {
  font-size: 25px;
  font-weight: 900;
  color: #333;
}

/* .find_pw .size {
  width: 280px;
  height: 30px;
  background-color: ##eeeff5;
  border: none;
  border-radius: 5px;
} */

.find_pw .wide {
  width: 100%;
}

.top{
  text-align: left;
  font-size: 13px;
}

.btnRe {
  width: 100px;
  height: 30px;
  font-size: 13px;
  background-color: transparent;
  color: #00aaff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 100; /* �씠寃� 援듦린 議곗젅 */
  transition: 0.5s;
  float: right;
/*       margin: -5; */
  margin-top: -7px; /* �쐞濡� 10px留뚰겮 �씠�룞 */
  margin-left: 1px; /* �쇊履쎌쑝濡� 20px留뚰겮 �씠�룞 */
}

.Creative {
  width: 100%
  color: #000012;
  width: 100px;
  height: 30px;
  font-size: 13px;
      font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
/*   font-weight: 100; 이게 굵기 조절 */
  transition: 0.5s;
  margin-top: -7px; /* 위로 10px만큼 이동 */
  margin-left: 1px; /* 왼쪽으로 20px만큼 이동 */
}