body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
	width:310px;

    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 279px;
}



button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    width: 301px;
}

button:hover {
    background-color: #808080;
}

.text-center {
    text-align: center;
    margin-top: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
}

.forgot-password {
    float: right;
}

.password-container {
    position: relative;
}

.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

.password-input input[type="password"] {
    flex: 1;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.password-input i {
    cursor: pointer;
    margin-right: 5px;
}


.btnRe {
  width: 100px;
  height: 30px;
  font-size: 13px;
  background-color: transparent;
  color: blue;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 100;
  transition: 0.5s;
  float: right;
  margin-top: -7px;
  margin-left: 1px;
}

.input#m_y {
	width: 10px;
}


.input-check {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100px;
}

.input-check div {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.input-check input[type="radio"] {
    margin: 0;
    margin-right: 5px;
}

.input-check label {
    margin: 0;
    font-size: 12px;
    width: 1000px;
}


/* page css */
.flip-page {
        animation: flipPage 0.5s forwards;
    }

    @keyframes flipPage {
        from {
            transform: rotateY(0);
        }
        to {
            transform: rotateY(-180deg);
        }
    }
