.admin-post {
    background-color: #f0f8ff; /* 예시로 배경색을 변경 */
    font-weight: bold; /* 글씨를 볼드체로 변경 */
    /* 추가적인 스타일 지정 가능 */
}
.truncate-text {
  white-space: nowrap;       /* 줄바꿈 금지 */
  overflow: hidden;          /* 내용 넘치는 부분 숨김 */
  text-overflow: ellipsis;   /* 넘치는 부분 "..."으로 표시 */
}
.readCntWidth {
  width: 68px;
}
.postDt {
  width: 120px;
}
.noWidth {
  width: 100px;
}