<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">

 <insert id="saveCmt" parameterType="comment">
  INSERT 
  INTO COMMENTS 
  VALUES 
  ( 
  #{cmtSeq}, 
  #{postSeq}, 
  #{userId}, 
  SYSDATE, 
  #{cmtContents)
  )
  </insert>



</mapper>