<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">

    <update id="update" parameterType="comment">
        UPDATE comments
        SET
            cmt_contents = #{cmtContents}
        WHERE cmt_seq = #{cmtSeq}
    </update>

<select id="getCommentsForPost" parameterType="string" resultType="comment">
    SELECT
        cmt_seq,
        post_seq,
        user_id,
        cmt_dt,
        cmt_contents
    FROM comments
    WHERE post_seq = #{postSeq}
    ORDER BY cmt_dt ASC
</select>

    <insert id="save" parameterType="comment">
        <selectKey keyProperty="cmtSeq" resultType="string" order="BEFORE">
            SELECT CMT_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO COMMENTS (
            cmt_seq,
            post_seq,
            user_id,
            cmt_dt,
            cmt_contents
        ) VALUES (
            #{cmtSeq},
            #{postSeq},
            #{userId},
            SYSDATE,
            #{cmtContents}
        )
    </insert>

    <delete id="delete" parameterType="comment">
        DELETE FROM comments
        WHERE cmt_seq = #{cmtSeq}
    </delete>

    <select id="select" parameterType="comment" resultType="comment">
        SELECT
            cmt_seq,
            post_seq,
            user_id,
            cmt_dt,
            cmt_contents
        FROM comments
        WHERE cmt_seq = #{cmtSeq}
    </select>

    <!-- 추가적인 쿼리 구현이 필요하다면 여기에 추가해주세요. -->

</mapper>
