<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">


	<!-- 로그인시 DB조회 -->
	<select id="login" parameterType="member" resultType="member">
		select * from member where EMAIL=#{email} and PASSWORD=#{password}
	</select>
  
  <!-- 회원가입 DB -->
  <insert id="save" parameterType="member">
        INSERT INTO MEMBER (email, password, name)
        VALUES (#{email}, #{password}, #{name})
  </insert>
  
  <!-- 아이디 중복 체크 여부 -->
  <select id = "idChk" parameterType="String" resultType="int">
    SELECT COUNT(*) FROM member
    WHERE email = #{email}
  </select>
</mapper>