<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPlayList">

  <!-- 마이플레이리스트 보여주기 --> 
  <select id="select" parameterType="com.heno.airock.dto.MyPlayListVO" resultType="com.heno.airock.dto.MyPlayListVO">
    SELECT  c.title,
		        c.artist,
		        c.album,
		        c.feeling
		FROM member a
		JOIN myplaylist b ON a.user_id = b.user_id
		JOIN music c ON b.music_id = c.music_id
		WHERE feeling = #{feeling}
		AND a.user_id = #{userId}
  </select>
  
  <select id="selectList" parameterType="MyPlayList" resultType="MyPlayList">
		SELECT  TT1.rnum as num,
		        TT1.album_path as albumImg,
		        TT1.title,
		        TT1.album,
		        TT1.artist,
		        TT1.feeling,
		        TT1.yt_link
		FROM(
		    SELECT ROWNUM as rnum, T1.*
		    FROM(
		        SELECT *
		        FROM music a
		        JOIN myplaylist b ON a.music_id = b.music_id
		        WHERE user_id = #{userId}
		        AND feeling = #{feeling}
		        ORDER BY public_dt DESC
		    )T1
 <![CDATA[ 		    WHERE ROWNUM <= 10  ]]>
		)TT1
 <![CDATA[ 		WHERE  rnum >=1          ]]>
  </select>
</mapper>