  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
  }
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 20px;
      background-color: #222; /* 어두운 배경색상 */
      color: #fff; /* 글자 색상 */
    }
    section {
      margin-bottom: 80px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    p {
      font-size: 10px;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    li {
      margin-bottom: 10px;
    }
    /* 추가된 스타일 - 로그아웃, 회원탈퇴, 비밀번호 변경 글씨 색상 및 크기 설정 */
    .setting_itmes {
      color: #fff;
      font-size: 18px;
    }
    /* 추가된 스타일 - 선 스타일 설정 */
    .separator {
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
    
    .footer {
  color: #fff;
  text-align: center;
  margin-top : 7.5%;
  line-height: 28px;
  padding: 8px;
  font-family: Arial, sans-serif;
  }
