  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
  }
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 20px;
      background-color: #222; /* �뼱�몢�슫 諛곌꼍�깋�긽 */
      color: #fff; /* 湲��옄 �깋�긽 */
    }
    section {
      margin-bottom: 80px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    p {
      font-size: 10px;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    li {
      margin-bottom: 10px;
    }
    /* 異붽��맂 �뒪���씪 - 濡쒓렇�븘�썐, �쉶�썝�깉�눜, 鍮꾨�踰덊샇 蹂�寃� 湲��뵪 �깋�긽 諛� �겕湲� �꽕�젙 */
    .setting_itmes {
      color: #fff;
      font-size: 18px;
    }
    /* 異붽��맂 �뒪���씪 - �꽑 �뒪���씪 �꽕�젙 */
    .separator {
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
    
    .footer {
  color: #fff;
  text-align: center;
  margin-top : 15.5%;
  line-height: 28px;
  padding: 8px;
  font-family: Arial, sans-serif;
  }
